<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tiny App</title>
</head>
<body>
  <header><%-include("./partials/_header")%></header>
  <form action="/urls/<%=shortURL%>?_method=PUT" method="POST">
    <label for ="longURL">Short URL: <%=shortURL%></label>
    <input id="longURL" type="text" name="longURL" value="<%=urls[shortURL].longURL%>">
    <button type="submit">Update</button>
  </form>
</body>
</html>
