<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User Register</title>
</head>

<body>
  <form class="" action="/register" method="POST">
    <div class="" style="padding-bottom: 20px;">
      <h2>Register a new account</h2>
      <label for="inputEmail">Email:</label>
      <input type="email" name="inputEmail" value="example@example.com">
    </div>
    <div class="" style="padding-bottom: 20px;">
      <label for="inputPassword">Password:</label>
      <input type="password" name="inputPassword" value="">
    </div>
      <button type="submit" name="submit">Register</button>
  </form>
</body>

</html>
